{% extends 'base.html' %}
{% block content %}
{% load crispy_forms_tags %}

<div class="row">
    <!-- Left Side Bar  -->
    <!-- import sidebar here  -->
     {% include 'dashboard/sidebar.html' %}

    <!-- Right Side Bar  -->
    <div class="col-md-9">
        <div class="row d-flex align-items-center" style="padding: 35px;">
            <h2 class="mb-0">Edit Category</h2>
        </div>
        <form action="{% url 'edit_category' category.id %}" method = "POST" style="width: 500px; padding: 35px;">
                {% csrf_token %}
                {{ form | crispy }}
                <button type="submit" class="btn btn-warning">Submit</button>
                <p></p>
                {% if messages %}
                    {% for message in messages %}
                        <div class="alert alert-danger">{{ message }}</div>
                    {% endfor %}
                {% endif %}
        </form>
        <br>
    </div>
</div>

{% endblock %}